* {
    font-family: Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
}

body {
    font-size: 1.1em;
    margin: 0;
}

.app {
    display: flex;
    width: 100%;
    height: 100%;
}

.app-sidebar {
    display: flex;
    flex-direction: column;
    background-color: #009BDF;
    max-width: 20em;
    height: 100%;
    /*border-right: 3px solid #ddd;*/
}

.app-sidebar header {
    margin: 3em;
}

.sidebar-container {
    overflow: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.half-width {
    width: 50%;
    float: left;
}

.map-status-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Temporary -- remove once map implemented */
    flex: 1;
}

.map {
    position: relative;
    flex-grow: 5;
}

.sidebar input[type='text'] {
    width: 100%;
}

.sidebar.status {
    max-width: 25em;
    background-color: #f8f8f8;
    border-left: 1px solid #dedede;
    flex-grow: 1;
}

.status-sidebar-item-wrapper {
    overflow: auto;
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
}

.status-sidebar-item-wrapper * {
    overflow-y: visible;
}

.status-sidebar-item-wrapper > .title {
    padding: 1em;
    display: block;
    text-align: center;
    background-color: #f0f0f0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stat-text {
    padding: 0.5em;
}

.stat-text > span {
    display: block;
}

.stat-text > .title {
    color: gray;
    margin-bottom: 0.3em;
}

.stat-text > .value {
    font-size: 1.2em;
}

span.SVGInline {
    overflow: auto;
    display: inline-block;
}

svg {
    width: auto;
    height: auto;
}

.boat-visualizer {
    display: flex;
}

.boat-visualizer svg {
    transition: transform 0.5s ease;
}

.visualization {
    padding: 1em;
}

span.SVGInline.boat {
    overflow: hidden;
}

.boat svg {
    height: 8em;
    width: 8em;
    padding: 1em;
}

.compass-rose svg {
    height: 5em;
    /*! width: auto; */
}

.stat-summary .stat {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.5em 0;
}

.stat-summary .stat > *:not(:first-child) {
    text-align: center;
}

.stat .title {
    color: #666;
}

.stat :not(.title) {
    font-size: 1.3em;
    margin: 0.3em 0;
}
